.inputError{
    border: 2px solid red;
}

.loading {
    background: linear-gradient(90deg, #dde7e9, #3ae9b7, #dde7e9, #3ae9b7, #dde7e9, #3ae9b7);
    background-size: 500% 500%;
    animation: loadingAnimation 1s linear infinite;
}

@keyframes loadingAnimation {
    0% {background-position: 0% 50%}
    100% {background-position: 100% 50%}
}